/*
font in /images
using the font that I use for developing
as I think its a very good font (and I like ligatures)
*/

@font-face {
    src: url(/images/FiraCodeNerdFont-Retina.ttf);
    font-family: Firacode;
}

* {
    font-family: Firacode;
}


.github {
    width: 50px;
    height: 50px;
    cursor: pointer;
}



