table {
    border: 1px solid black;
        
}
h1 {
    color: blue;
}
img {
    border-radius: 6px;
    align-items: center;

}
ul {
    background-color: aquamarine;
}
.highlight {
    background-color: yellow;
}
ul, li {
    .highlight{}
}
