/*
font in /images
using the font that I use for developing
as I think its a very good font (and I like ligatures)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
*/

* { 
    font-family: "Fira Code"; /*could use monospace but Fira Code has those sweet, sweet ligatures*/
}

body {
    background-color: #3c3836;
    margin: 0;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

p {
    font-size: 32px;
}

.github {
    width: 50px;
    height: 51px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    vertical-align: top;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 2px #ebdbb2;
}

.title {
    color: #cc241d;
    font-weight: 700px;
    letter-spacing: 2px;
    border: solid 1px #b2a687;
    border-radius: 6px;
    padding: 4px;
    margin: 2%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ebdbb2;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    font-size: 30px;
    background-color: #ebdbb2;
    border: none;
    width: auto;
}

button:hover {
    background-color: #b2a687;
    cursor: pointer;
}
