/*
font in /images
using the font that I use for developing
as I think its a very good font (and I like ligatures)
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
*/

* { 
    font-family: "Fira Code"; /*could use monospace but Fira Code has those sweet, sweet ligatures*/
    font-weight: 450;
}

body {
    background-color: #3c3836;
    margin: 0;
}

h1 {
    font-size: 42px;
}

.github {
    width: 50px;
    height: 50px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 2px #ebdbb2;
}

hr.solid {
    color:#b2a687; 
    background-color: #b2a687;
    width: 80%;
}
.title {
    color: #cc241d;
    font-weight: 600;
    letter-spacing: 2px;
    border: #b2a687 solid 1px;
    border-radius: 8px;
    padding: 4px;
}


.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.back-btn {
    font-size: 30px;
}

button {
    display: block;
    background-color: #ebdbb2;
    border: none;
    border-radius: 6px;
}



button:hover {
    background-color: #b2a687;
    cursor: pointer;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
} 

.blog-cont {
    display: flex;
    width: 80%;
    flex-direction: row;
    height: 100%;
}

.blog {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px; 
    width: 100%;
    flex-shrink: 1; 
}


.blog-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px #b2a687;
    padding: 3px;
    width: 30%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1px;
}


#des-content {
    display: none;
}

#title {
    font-size: 18px;
    display: flex;
    flex-flow: row;
}

#desc {
    margin: 0;
    color: #796b4d;
}



