* { 
    font-family: "Fira Code"; /*could use monospace but Fira Code has those sweet, sweet ligatures*/
}

body {
    background-color: #3c3836;
    margin: 0;
}

.github {
    width: 50px;
    height: 51px;
}

.title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-self: center;
    justify-content: center;
}

.title {
    color: #cc241d;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    font-size: 30px;
    background-color: #ebdbb2;
    border: none;
}

button:hover {
    background-color: #b2a687;
    cursor: pointer;
}
